html{
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body{
  width: 100%;
  background: #063940;
  font-family: 'Courier New', Courier, monospace;
  /* height: 100%; */
  
}
.navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  width: 100%;
  height: 10vh;
  background: #195e63;
  color: aliceblue;
  margin-bottom: 2%;
  top: 0;
  
}

section{
  width: 100%;
  height: 100%;
}
.content{
  display: flex;
  justify-content: space-around;
  width: 100%;

}

.cajas{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
}


.caja{
  display: flex;
  width: 200px;
  height: 200px;
  align-items: center;
  justify-content: center;
  background: #8ebdb6;
  border-radius: 15px;
  



}
p{
  color: black;
  margin: 3%;
  text-align: justify;
}
a {
    text-decoration: none;
    color: inherit;
}
